<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>Autorizando...</p>
            </Authorizing>
            <NotAuthorized>
                <p>No estas autorizado para ver este contenido...</p>
                <img src="~/images/forbiden.png"/>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <PageTitle>No encontrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Lo siento, página no encontrada.</p>
                <img src="~/images/nofound.png" />
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
